stages:
  - docker-dev
  - deploy-dev
  - deploy-test
  - docker-prd
  - deploy-prd

variables:
  NEW_ALI_REGISTRY: registry.cn-hangzhou.aliyuncs.com
  NEW_IMAGE_PM: $NEW_ALI_REGISTRY/masa/masa-pm-service-admin:$CI_COMMIT_TAG
  NEW_IMAGE_PM_DEV: $NEW_ALI_REGISTRY/masa/masa-pm-service-admin:dev-$CI_PIPELINE_ID
  NEW_IMAGE_PM_UI: $NEW_ALI_REGISTRY/masa/masa-pm-ui-admin:$CI_COMMIT_TAG
  NEW_IMAGE_PM_UI_DEV: $NEW_ALI_REGISTRY/masa/masa-pm-ui-admin:dev-$CI_PIPELINE_ID
  DOCKER_PM_PATH: ./src/Services/MASA.PM.Service.Admin/Dockerfile
  DOCKER_UI_PATH: ./src/Web/MASA.PM.Web.Admin/Dockerfile

docker-build-dev:
  stage: docker-dev
  tags:
    - linux-shell
  before_script:
    - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN 
  only:
    - main  
  script:
    - docker build -f $DOCKER_PM_PATH -t $NEW_IMAGE_PM_DEV .
    - docker push $NEW_IMAGE_PM_DEV 
    - docker build -f $DOCKER_UI_PATH -t $NEW_IMAGE_PM_UI_DEV .
    - docker push $NEW_IMAGE_PM_UI_DEV
  after_script:
    - docker rmi $NEW_IMAGE_PM_DEV   
    - docker rmi $NEW_IMAGE_PM_UI_DEV
  
deploy-dev:
  stage: deploy-dev
  tags:
    - linux-shell
  before_script:
    - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN 
  only:
    - main  
  script:
    - echo $KUBE_CONFIG_DEV | base64 -d > ./config
    - kubectl --kubeconfig ./config set image deployment/masa-pm-service-admin masa-pm-service-admin=$NEW_IMAGE_PM_DEV -n masa-pm-dev
    - kubectl --kubeconfig ./config set image deployment/masa-pm-ui-admin masa-pm-ui-admin=$NEW_IMAGE_PM_UI_DEV -n masa-pm-dev
  retry: 2

deploy-test:
  stage: deploy-test
  tags:
    - linux-shell
  before_script:
    - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN 
  only:
    - main  
  script:
    - echo $KUBE_CONFIG_DEV | base64 -d > ./config
    - kubectl --kubeconfig ./config set image deployment/masa-pm-service-admin masa-pm-service-admin=$NEW_IMAGE_PM_DEV -n masa-pm-test
    - kubectl --kubeconfig ./config set image deployment/masa-pm-ui-admin masa-pm-ui-admin=$NEW_IMAGE_PM_UI_DEV -n masa-pm-test
  retry: 2
  when: manual

docker-build-prd:
  stage: docker-prd
  tags:
    - linux-shell
  before_script:
    - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN 
  only:
    - tags  
  script:
    - docker build -f $DOCKER_PM_PATH -t $NEW_IMAGE_PM.
    - docker push $NEW_IMAGE_PM
    - docker build -f $DOCKER_UI_PATH -t $NEW_IMAGE_PM_UI .
    - docker push $NEW_IMAGE_PM_UI
  after_script:
    - docker rmi $NEW_IMAGE_PM  
    - docker rmi $NEW_IMAGE_PM_UI
  
deploy-prd:
  stage: deploy-prd
  tags:
    - linux-shell
  before_script:
    - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN 
  only:
    - tags
  script:
    - echo $KUBE_CONFIG_BLAZOR_PRD | base64 -d > ./config
    - kubectl --kubeconfig ./config set image deployment/masa-pm-service-admin masa-pm-service-admin=$NEW_IMAGE_PM -n masa-pm
    - kubectl --kubeconfig ./config set image deployment/masa-pm-ui-admin masa-pm-ui-admin=$NEW_IMAGE_PM_UI -n masa-pm
  retry: 2
  when: manual
