@page "/init"
@layout EmptyLayout

<div class="header" style="margin:46px 0 0 53px;">
    <img class="hover-pointer" src="/img/mainLayout/logo-en.svg" />
</div>

<div class="body mt-2">
    <div style="width:684px;" class="mx-auto my-auto">
        <MCardTitle Class="text-h6 neutral-lighten-1--text">MASA PM 初始化</MCardTitle>
        <MStepper Value="_step" Elevation=0>
            <MStepperHeader Style="box-shadow:none !important">
                <MStepperStep Step="1" Complete="_step>1">
                    环境
                </MStepperStep>
                <MDivider></MDivider>
                <MStepperStep Step="2">
                    集群
                </MStepperStep>
            </MStepperHeader>

            <MStepperItems>
                <MStepperContent Style="padding-top:12px !important;" Step="1">
                    <MRadioGroup Style="margin:9px 0 24px 9px !important;" @bind-Value="_envRadio" Row>
                        <MRadio Label="3个环境" Value="3">
                        </MRadio>
                        <MRadio Class="ml-13" Label="4个环境" Value="4">
                        </MRadio>
                        <MRadio Class="ml-13" Label="自定义环境" Value="0">
                        </MRadio>
                    </MRadioGroup>
                    @{
                        if (_envRadio == 3)
                        {
                            _initModel = new Contracts.Base.Model.InitModel();
                            _initModel.Environments = new List<Contracts.Base.Model.AddEnvironmentModel>
                            {
                                new Contracts.Base.Model.AddEnvironmentModel("Development", "开发环境"),
                                new Contracts.Base.Model.AddEnvironmentModel("Staging", "测试环境"),
                                new Contracts.Base.Model.AddEnvironmentModel("Production", "生产环境")
                            };

                            foreach (var item in _initModel.Environments)
                            {
                                <MTextField Disabled @bind-Value="item.Name" Label="环境名称" Outlined></MTextField>
                                <MTextarea Outlined Label="环境描述" @bind-Value="item.Description"></MTextarea>
                            }
                        }
                        else if (_envRadio == 4)
                        {
                            _initModel = new Contracts.Base.Model.InitModel();
                            _initModel.Environments = new List<Contracts.Base.Model.AddEnvironmentModel>
                            {
                                new Contracts.Base.Model.AddEnvironmentModel("Development", "开发环境"),
                                new Contracts.Base.Model.AddEnvironmentModel("Staging", "测试环境"),
                                new Contracts.Base.Model.AddEnvironmentModel("PreProduction", "预发布环境"),
                                new Contracts.Base.Model.AddEnvironmentModel("Production", "生产环境")
                            };
                            foreach (var item in _initModel.Environments)
                            {
                                <MTextField Disabled @bind-Value="item.Name" Label="环境名称" Outlined></MTextField>
                                <MTextarea Outlined Label="环境描述" @bind-Value="item.Description"></MTextarea>
                            }
                        }
                        else if (_envRadio == 0)
                        {
                            foreach (var item in _customEnv)
                            {
                                <MTextField Rules=RequiredRules @bind-Value="item.Name" Label="环境名称" Outlined></MTextField>
                                <MTextarea Outlined Label="环境描述" @bind-Value="item.Description"></MTextarea>
                                <div class="d-flex justify-end mb-6 mr-1">
                                    <MIcon OnClick="()=>RemoveEnvComponent(item.Index)" Class="hover-pointer mr-3">mdi-minus-box-outline</MIcon>
                                    <MIcon OnClick="()=>AddEnvComponent(item.Index)" Class="hover-pointer">mdi-plus-box</MIcon>
                                </div>
                            }
                        }
                    }
                    <MButton Width=100 Class="rounded-pill" Style="float:right;" Color="primary" OnClick="()=>_step=2">下一步</MButton>
                </MStepperContent>
                <MStepperContent Style="padding-top:12px !important;" Step="2">
                    <MTextField Rules=RequiredRules Class="mt-2" @bind-Value="_initModel.ClusterName" Label="集群名称" Outlined></MTextField>
                    <MTextarea Outlined Label="集群描述" @bind-Value="_initModel.ClusterDescription"></MTextarea>
                    <div class="d-flex justify-end">
                        <MButton Width=100 Outlined Class="text-btn rounded-pill mr-6" OnClick="()=>_step=1">上一步</MButton>
                        <MButton Width=100 Class="rounded-pill" Color="primary" OnClick="InitAsync" Loading="_initLoading">提交</MButton>
                    </div>
                </MStepperContent>
            </MStepperItems>
        </MStepper>
    </div>
</div>
