@page "/team"
@inherits ProCompontentBase
@inject MasaBlazor MasaBlazor
@inject GlobalConfig GlobalConfig;
@implements IDisposable

@*<div>
    <MRow NoGutters>

    <div class="pr-6" style="width: calc(100% - 300px); overflow: hidden; display:block;">
    <div class="rounded-5" style="height:100%;background:#fff;display:flex; flex-direction:column; justify-content:space-between; overflow:auto;">
    </div>
    </div>

    <MNavigationDrawer Right Permanent Class="rounded-4" Width="300" Style="height:calc(100vh - 142px );">
    <div style="min-width:300px; display:flex; flex-direction:column; align-items:center; overflow: auto; height:calc(100vh - 238px );">
    </div>
    </MNavigationDrawer>

    </MRow>
    </div>*@

<MTabs @bind-Value="_curTab" SliderColor="transparent" class="pro-nav remover-ripple">
    <MTab class="text-capitalize pa-0">
        <ChildContent>
            <span class="mtab-tab-line mtab-tab-linear-primary"></span>
            <span class="rounded-circle mtab-tab-indicator mtab-tab-indicator-primary"></span>
            <span class="mtab-tab-title">Card</span>
        </ChildContent>
    </MTab>
    <MTab class="text-capitalize pa-0" Disabled="_addressDisabled">
        <ChildContent>
            <span class="mtab-tab-line @(_curTab.ToInt32()>0?"mtab-tab-linear-primary":"mtab-tab-linear-neutral")"></span>
            <span class="rounded-circle mtab-tab-indicator @(_curTab.ToInt32()>0?"mtab-tab-indicator-primary":"mtab-tab-indicator-neutral")"></span>
            <span class="mtab-tab-title">Address</span>
        </ChildContent>
    </MTab>
</MTabs>

<MTabsItems Value="_curTab" class="pt-6 ml-n6">
    <MTabItem>
        <p>123</p>
    </MTabItem>
    <MTabItem class="pl-6">
        <p>456</p>
    </MTabItem>
</MTabsItems>


@code {
    private StringNumber _curTab = 0;
    private bool _addressDisabled = true;
}
